<div>
  <md-button
    style="position:fixed;"
    type="button"
    ng-click="vm.create<%=nameC%>($event)"
    class="md-fab md-mini md-primary md-fab-bottom-right">
    <i class="fa fa-plus ng-scope"></i>
    <md-tooltip md-direction="top">
      Add
    </md-tooltip>
  </md-button>

  <md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools" layout="row">

      <input
        class="search-input"
        type="text"
        placeholder="Search for..."
        ng-model="vm.searchText"
        aria-label="label"
        flex="20">
      <span flex></span>

      <md-radio-group layout="row" class="page-items" ng-model="vm.itemsPerPage">
        <md-radio-button value="{{vm.perPageCount.DEFAULT}}" class="md-primary">Show {{::vm.perPageCount.DEFAULT}}</md-radio-button>
        <md-radio-button value="{{vm.perPageCount.ALL}}" class="md-primary">Show All</md-radio-button>
      </md-radio-group>

    </div>
  </md-toolbar>

  <md-content flex layout-padding>

    <md-list>
      <md-list-item dir-paginate="<%=name%> in vm.<%=name%>s | filter: vm.searchText | itemsPerPage: vm.itemsPerPage ">
        <p> {{<%=name%>.myField}} </p>

        <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="vm.update<%=nameC%>($event, <%=name%>)">
          <md-icon
            md-font-icon="material-icons">
            edit
          </md-icon>
        </md-button>

        <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="vm.destroy<%=nameC%>($event, <%=name%>)">
          <md-icon
            md-font-icon="material-icons">
            delete
          </md-icon>
        </md-button>

        <md-divider></md-divider>
      </md-list-item>
    </md-list>

    <div layout="row" layout-align="center center">
      <dir-pagination-controls
        boundary-links="true">
      </dir-pagination-controls>
    </div>

  </md-content>

</div>
