.page-items md-radio-button{
  color #ffffff;
  font-size: 0.8em;
}

.search-input {
  border-radius: 3px;
  border: none;
  padding: 3px 5px;
}

.search-input:active,
.search-input:focus {
  outline: none;
}
