<md-button
  type="button"
  ng-click="vm.setItemsPerPage(vm.perPageCount.DEFAULT)"
  class="md-fab md-mini md-primary pull-right"
  aria-label="label">10</md-button>

<md-button
  type="button"
  ng-click="vm.setItemsPerPage(vm.perPageCount.ALL)"
  class="md-fab md-mini md-primary pull-right"
  aria-label="label">All</md-button>

<md-button
  type="button"
  ng-click="vm.create<%=nameC%>($event)"
  class="md-fab md-mini md-primary pull-right"
  aria-label="label">
  <i class="fa fa-plus ng-scope"></i>
</md-button>

<ul>
  <li
    dir-paginate="<%=nameL%> in vm.<%=nameL%>s | itemsPerPage: vm.itemsPerPage"
    current-page="vm.currentPage">
    <h3><%=nameL%>.myField</h3>
    <md-icon
      md-font-icon="material-icons"
      ng-click="vm.update<%=nameC%>($event, <%=nameL%>)">
      edit
    </md-icon>
    <md-icon
      md-font-icon="material-icons"
      ng-click="vm.destroy<%=nameC%>(<%=nameL%>)">
      delete
    </md-icon>
  </li>
</ul>


<dir-pagination-controls
  on-page-change="vm.onPageChange(newPageNumber)"
  boundary-links="true">
</dir-pagination-controls>
