<div>
  <div class="inner-toolbar">
    <div class="md-toolbar-tools" layout="row">
      <span flex="5"></span>
      <span class="page-title"><%=namePlural%></span>
      <span flex></span>
      <div class="search  md-whiteframe-4dp" flex="70">
        <md-icon md-font-icon="material-icons icon">search</md-icon>
        <input
          ng-model="vm.query.searchText"
          ng-change="vm.searchByText()"
          lc-autofocus
          ng-model-options="{debounce: 500}"
          type="text"
          class="search-input"
          placeholder="Search for..."
          aria-label="Search">
      </div>
      <span flex="5"></span>
    </div>
    <div class="md-toolbar-tools page-tools" layout="row">
      <span flex></span>
      <div class="tools md-whiteframe-4dp" flex="70" layout="row">

        <div class="tool" flex="50" layout="row" layout-align="left center">
          <md-checkbox
            class="show-all md-primary"
            ng-change="vm.toggleShowAllPages()"
            ng-model="vm.query.all"
            aria-label="Show all">Show all
          </md-checkbox>
        </div>

        <lc-pagination
          query="::vm.query"
          num-total="::vm.<%=namePlural%>Data.numTotal"
          reload-page="::vm.reloadPage()"
          flex="50"
          class="pagination-wrapp"
          layout-align="right center">
        </lc-pagination>

      </div>
      <span flex="5"></span>
    </div>
  </div>

  <md-content flex layout-padding class="page-content" >

    <md-button
      ng-click="vm.create<%=nameUC%>($event)"
      class="md-fab md-primary md-fab-bottom-right add-new-btn">
      <i class="material-icons">add</i>
      <md-tooltip md-direction="top">Add</md-tooltip>
    </md-button>

    <md-card>
      <md-list>
        <md-list-item ng-repeat="<%=nameLC%> in ::vm.<%=namePlural%>Data.items">
          <p>{{::<%=nameLC%>.<%=defField%>}}</p>

          <md-button
            ng-click="vm.update<%=nameUC%>($event, <%=nameLC%>)"
            class="md-icon-button md-primary"
            aria-label="Edit">
            <md-icon md-font-icon="material-icons">edit</md-icon>
          </md-button>

          <md-button
            ng-click="vm.destroy<%=nameUC%>($event, <%=nameLC%>)"
            class="md-icon-button md-primary"
            aria-label="Delete">
            <md-icon md-font-icon="material-icons">delete</md-icon>
          </md-button>

          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>

  </md-content>
</div>
