<md-dialog aria-label="label" style="min-width:400px">
  <form
    name="<%=nameL%>Form"
    ng-submit="vm.submit(<%=nameL%>Form)"
    novalidate>

    <md-toolbar aria-label="label">
      <div class="md-toolbar-tools">
        <h2><%=nameC%></h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content class="md-padding">

        <div>
          <md-input-container>
            <label>myField</label>
            <input
              type="text"
              ng-model="vm.<%=nameL%>.myField"
              ng-disabled="vm.isUpdate"
              required
              aria-label="label">
          </md-input-container>
        </div>

      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button
        type="button"
        ng-click="vm.close()"
        class="md-raised md-primary">Cancel</md-button>
      <md-button
        type="submit"
        class="md-raised md-primary button-filled"
        aria-label="label">Submit</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
