<md-dialog class="admin-modal" aria-label="label">
  <form
    name="<%=nameLC%>Form"
    ng-submit="vm.submit(<%=nameLC%>Form)"
    novalidate>

    <md-toolbar aria-label="label">
      <div class="md-toolbar-tools">
        <h2><%=nameUC%></h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content class="md-padding">
        <div layout="column">

          <div layout="row" class="md-padding">
            <md-input-container flex>
              <label><%=defField%></label>
              <input
                ng-model="vm.<%=nameLC%>.<%=defField%>"
                type="text"
                aria-label="label">
            </md-input-container>
          </div>

        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button
        ng-click="vm.close()"
        class="md-raised md-primary"
        aria-label="Close">Cancel</md-button>
      <md-button
        type="submit"
        class="md-raised md-primary button-filled"
        aria-label="Submit">Submit</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
