<md-dialog aria-label="label" ng-cloak>
  <div layout="row">
    <span flex></span>
    <span class="close-button" ng-click="vm.close()">
      <i class="fa fa-times"></i>
    </span>
  </div>

  <form
    name="<%=name%>Form"
    ng-submit="vm.submit(<%=name%>)"
    novalidate>

    <div flex="33" flex-sm="100">
      <md-input-container>
        <label>myField</label>
        <input
          type="text"
          name="myField"
          ng-model="vm.<%=name%>.myField"
          required
          aria-label="label">
      </md-input-container>
    </div>

    <md-button
      type="submit"
      class="md-raised md-primary button-filled"
      aria-label="label">
      Submit
    </md-button>
  </form>

</md-dialog>
